#board {
  margin-top: 80px;
}

.box {
  border: 3px solid purple;
  height: 150px;
  cursor: pointer;
}


h1 {
  font-size: 75px;
  text-shadow: 4px 4px #ad4ad3;
}



p {
  font-size: 30px;
}


body {
  text-align: center;
  font-size: 100px;
}
